.mySwiper{
    height: 15vh;
    margin: 0% 6%;
    padding: 4% 0%;

}
.sponsors{
    background-color: #F5F5F7;
}
.sponsor{
    @include flex(row,center);
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    height: 10vh;
    img{
        width: 50%;
    }
    // width: ;
}

@include sm{
    .sponsors{
        display: none;
    }
}